openapi: 3.0.0
info:
  title: "Telegram Bot API"
  version: "9.2"
  description: |-
    This OpenAPI specification was generated using the [tgbotspec](https://github.com/metalagman/tgbotspec) tool.
servers:
  - url: "https://api.telegram.org/bot{botToken}"
    description: Telegram Bot API endpoint; substitute {botToken} with your bot token.
    variables:
      botToken:
        description: Telegram bot token obtained from BotFather.
        default: "<bot_token>"
security:
  - TelegramBotToken: []
paths:
  /addStickerToSet:
    post:
      operationId: addStickerToSet
      tags:
        - Stickers
      description: |-
        Use this method to add a new sticker to a set created by the bot. Emoji sticker sets can have up to 200 stickers. Other sticker sets can have up to 120 stickers. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                sticker:
                  $ref: '#/components/schemas/InputSticker'
                user_id:
                  type: integer
              required:
                - name
                - sticker
                - user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                sticker:
                  $ref: '#/components/schemas/InputSticker'
                user_id:
                  type: integer
              required:
                - name
                - sticker
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerCallbackQuery:
    post:
      operationId: answerCallbackQuery
      tags:
        - Available methods
      description: |-
        Use this method to send answers to callback queries sent from inline keyboards. The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cache_time:
                  type: integer
                callback_query_id:
                  type: string
                show_alert:
                  type: boolean
                text:
                  type: string
                url:
                  type: string
              required:
                - cache_time
                - callback_query_id
                - show_alert
                - text
                - url
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerInlineQuery:
    post:
      operationId: answerInlineQuery
      tags:
        - Inline mode
      description: |-
        Use this method to send answers to an inline query. On success, True is returned.No more than 50 results per query are allowed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                button:
                  $ref: '#/components/schemas/InlineQueryResultsButton'
                cache_time:
                  type: integer
                inline_query_id:
                  type: string
                is_personal:
                  type: boolean
                next_offset:
                  type: string
                results:
                  type: array
                  items:
                      $ref: '#/components/schemas/InlineQueryResult'
              required:
                - button
                - cache_time
                - inline_query_id
                - is_personal
                - next_offset
                - results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerPreCheckoutQuery:
    post:
      operationId: answerPreCheckoutQuery
      tags:
        - Payments
      description: |-
        Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an Update with the field pre_checkout_query. Use this method to respond to such pre-checkout queries. On success, True is returned. Note: The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error_message:
                  type: string
                ok:
                  type: boolean
                pre_checkout_query_id:
                  type: string
              required:
                - error_message
                - ok
                - pre_checkout_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerShippingQuery:
    post:
      operationId: answerShippingQuery
      tags:
        - Payments
      description: |-
        If you sent an invoice requesting a shipping address and the parameter is_flexible was specified, the Bot API will send an Update with a shipping_query field to the bot. Use this method to reply to shipping queries. On success, True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error_message:
                  type: string
                ok:
                  type: boolean
                shipping_options:
                  type: array
                  items:
                      $ref: '#/components/schemas/ShippingOption'
                shipping_query_id:
                  type: string
              required:
                - error_message
                - ok
                - shipping_options
                - shipping_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /answerWebAppQuery:
    post:
      operationId: answerWebAppQuery
      tags:
        - Inline mode
      description: |-
        Use this method to set the result of an interaction with a Web App and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a SentWebAppMessage object is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                result:
                  $ref: '#/components/schemas/InlineQueryResult'
                web_app_query_id:
                  type: string
              required:
                - result
                - web_app_query_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/SentWebAppMessage'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approveChatJoinRequest:
    post:
      operationId: approveChatJoinRequest
      tags:
        - Available methods
      description: |-
        Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                user_id:
                  type: integer
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /approveSuggestedPost:
    post:
      operationId: approveSuggestedPost
      tags:
        - Updating messages
      description: |-
        Use this method to approve a suggested post in a direct messages chat. The bot must have the 'can_post_messages' administrator right in the corresponding channel chat. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                message_id:
                  type: integer
                send_date:
                  type: integer
              required:
                - chat_id
                - message_id
                - send_date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /banChatMember:
    post:
      operationId: banChatMember
      tags:
        - Available methods
      description: |-
        Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless unbanned first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                revoke_messages:
                  type: boolean
                until_date:
                  type: integer
                user_id:
                  type: integer
              required:
                - chat_id
                - revoke_messages
                - until_date
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /banChatSenderChat:
    post:
      operationId: banChatSenderChat
      tags:
        - Available methods
      description: |-
        Use this method to ban a channel chat in a supergroup or a channel. Until the chat is unbanned, the owner of the banned chat won't be able to send messages on behalf of any of their channels. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                sender_chat_id:
                  type: integer
              required:
                - chat_id
                - sender_chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /close:
    post:
      operationId: close
      tags:
        - Available methods
      description: |-
        Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns True on success. Requires no parameters.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /closeForumTopic:
    post:
      operationId: closeForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights, unless it is the creator of the topic. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                message_thread_id:
                  type: integer
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /closeGeneralForumTopic:
    post:
      operationId: closeGeneralForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to close an open 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /convertGiftToStars:
    post:
      operationId: convertGiftToStars
      tags:
        - Available methods
      description: |-
        Converts a given regular gift to Telegram Stars. Requires the can_convert_gifts_to_stars business bot right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                owned_gift_id:
                  type: string
              required:
                - business_connection_id
                - owned_gift_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /copyMessage:
    post:
      operationId: copyMessage
      tags:
        - Available methods
      description: |-
        Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                allow_paid_broadcast:
                  type: boolean
                caption:
                  type: string
                caption_entities:
                  type: array
                  items:
                      $ref: '#/components/schemas/MessageEntity'
                chat_id:
                  type: integer
                direct_messages_topic_id:
                  type: integer
                disable_notification:
                  type: boolean
                from_chat_id:
                  anyOf:
                      - type: integer
                      - type: string
                message_id:
                  type: integer
                message_thread_id:
                  type: integer
                parse_mode:
                  type: string
                protect_content:
                  type: boolean
                reply_markup:
                  anyOf:
                      - $ref: '#/components/schemas/InlineKeyboardMarkup'
                      - $ref: '#/components/schemas/ReplyKeyboardMarkup'
                      - $ref: '#/components/schemas/ReplyKeyboardRemove'
                      - $ref: '#/components/schemas/ForceReply'
                reply_parameters:
                  $ref: '#/components/schemas/ReplyParameters'
                show_caption_above_media:
                  type: boolean
                suggested_post_parameters:
                  $ref: '#/components/schemas/SuggestedPostParameters'
                video_start_timestamp:
                  type: integer
              required:
                - allow_paid_broadcast
                - caption
                - caption_entities
                - chat_id
                - direct_messages_topic_id
                - disable_notification
                - from_chat_id
                - message_id
                - message_thread_id
                - parse_mode
                - protect_content
                - reply_markup
                - reply_parameters
                - show_caption_above_media
                - suggested_post_parameters
                - video_start_timestamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/MessageId'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /copyMessages:
    post:
      operationId: copyMessages
      tags:
        - Available methods
      description: |-
        Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an array of MessageId of the sent messages is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                direct_messages_topic_id:
                  type: integer
                disable_notification:
                  type: boolean
                from_chat_id:
                  anyOf:
                      - type: integer
                      - type: string
                message_ids:
                  type: array
                  items:
                      type: integer
                message_thread_id:
                  type: integer
                protect_content:
                  type: boolean
                remove_caption:
                  type: boolean
              required:
                - chat_id
                - direct_messages_topic_id
                - disable_notification
                - from_chat_id
                - message_ids
                - message_thread_id
                - protect_content
                - remove_caption
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                            $ref: '#/components/schemas/MessageId'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createChatInviteLink:
    post:
      operationId: createChatInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method revokeChatInviteLink. Returns the new invite link as ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                creates_join_request:
                  type: boolean
                expire_date:
                  type: integer
                member_limit:
                  type: integer
                name:
                  type: string
              required:
                - chat_id
                - creates_join_request
                - expire_date
                - member_limit
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createChatSubscriptionInviteLink:
    post:
      operationId: createChatSubscriptionInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to create a subscription invite link for a channel chat. The bot must have the can_invite_users administrator rights. The link can be edited using the method editChatSubscriptionInviteLink or revoked using the method revokeChatInviteLink. Returns the new invite link as a ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                name:
                  type: string
                subscription_period:
                  type: integer
                subscription_price:
                  type: integer
              required:
                - chat_id
                - name
                - subscription_period
                - subscription_price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createForumTopic:
    post:
      operationId: createForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to create a topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns information about the created topic as a ForumTopic object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                icon_color:
                  type: integer
                icon_custom_emoji_id:
                  type: string
                name:
                  type: string
              required:
                - chat_id
                - icon_color
                - icon_custom_emoji_id
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ForumTopic'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createInvoiceLink:
    post:
      operationId: createInvoiceLink
      tags:
        - Payments
      description: |-
        Use this method to create a link for an invoice. Returns the created invoice link as String on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                currency:
                  type: string
                description:
                  type: string
                is_flexible:
                  type: boolean
                max_tip_amount:
                  type: integer
                need_email:
                  type: boolean
                need_name:
                  type: boolean
                need_phone_number:
                  type: boolean
                need_shipping_address:
                  type: boolean
                payload:
                  type: string
                photo_height:
                  type: integer
                photo_size:
                  type: integer
                photo_url:
                  type: string
                photo_width:
                  type: integer
                prices:
                  type: array
                  items:
                      $ref: '#/components/schemas/LabeledPrice'
                provider_data:
                  type: string
                provider_token:
                  type: string
                send_email_to_provider:
                  type: boolean
                send_phone_number_to_provider:
                  type: boolean
                subscription_period:
                  type: integer
                suggested_tip_amounts:
                  type: array
                  items:
                      type: integer
                title:
                  type: string
              required:
                - business_connection_id
                - currency
                - description
                - is_flexible
                - max_tip_amount
                - need_email
                - need_name
                - need_phone_number
                - need_shipping_address
                - payload
                - photo_height
                - photo_size
                - photo_url
                - photo_width
                - prices
                - provider_data
                - provider_token
                - send_email_to_provider
                - send_phone_number_to_provider
                - subscription_period
                - suggested_tip_amounts
                - title
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: string
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /createNewStickerSet:
    post:
      operationId: createNewStickerSet
      tags:
        - Stickers
      description: |-
        Use this method to create a new sticker set owned by a user. The bot will be able to edit the sticker set thus created. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                needs_repainting:
                  type: boolean
                sticker_type:
                  type: string
                stickers:
                  type: array
                  items:
                      $ref: '#/components/schemas/InputSticker'
                title:
                  type: string
                user_id:
                  type: integer
              required:
                - name
                - needs_repainting
                - sticker_type
                - stickers
                - title
                - user_id
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                needs_repainting:
                  type: boolean
                sticker_type:
                  type: string
                stickers:
                  type: array
                  items:
                      $ref: '#/components/schemas/InputSticker'
                title:
                  type: string
                user_id:
                  type: integer
              required:
                - name
                - needs_repainting
                - sticker_type
                - stickers
                - title
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /declineChatJoinRequest:
    post:
      operationId: declineChatJoinRequest
      tags:
        - Available methods
      description: |-
        Use this method to decline a chat join request. The bot must be an administrator in the chat for this to work and must have the can_invite_users administrator right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                user_id:
                  type: integer
              required:
                - chat_id
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /declineSuggestedPost:
    post:
      operationId: declineSuggestedPost
      tags:
        - Updating messages
      description: |-
        Use this method to decline a suggested post in a direct messages chat. The bot must have the 'can_manage_direct_messages' administrator right in the corresponding channel chat. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                comment:
                  type: string
                message_id:
                  type: integer
              required:
                - chat_id
                - comment
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteBusinessMessages:
    post:
      operationId: deleteBusinessMessages
      tags:
        - Available methods
      description: |-
        Delete messages on behalf of a business account. Requires the can_delete_sent_messages business bot right to delete messages sent by the bot itself, or the can_delete_all_messages business bot right to delete any message. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                message_ids:
                  type: array
                  items:
                      type: integer
              required:
                - business_connection_id
                - message_ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteChatPhoto:
    post:
      operationId: deleteChatPhoto
      tags:
        - Available methods
      description: |-
        Use this method to delete a chat photo. Photos can't be changed for private chats. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteChatStickerSet:
    post:
      operationId: deleteChatStickerSet
      tags:
        - Available methods
      description: |-
        Use this method to delete a group sticker set from a supergroup. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Use the field can_set_sticker_set optionally returned in getChat requests to check if the bot can use this method. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteForumTopic:
    post:
      operationId: deleteForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to delete a forum topic along with all its messages in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_delete_messages administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                message_thread_id:
                  type: integer
              required:
                - chat_id
                - message_thread_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMessage:
    post:
      operationId: deleteMessage
      tags:
        - Updating messages
      description: |-
        Use this method to delete a message, including service messages, with the following limitations:- A message can only be deleted if it was sent less than 48 hours ago.- Service messages about a supergroup, channel, or forum topic creation can't be deleted.- A dice message in a private chat can only be deleted if it was sent more than 24 hours ago.- Bots can delete outgoing messages in private chats, groups, and supergroups.- Bots can delete incoming messages in private chats.- Bots granted can_post_messages permissions can delete outgoing messages in channels.- If the bot is an administrator of a group, it can delete any message there.- If the bot has can_delete_messages administrator right in a supergroup or a channel, it can delete any message there.- If the bot has can_manage_direct_messages administrator right in a channel, it can delete any message in the corresponding direct messages chat.Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                message_id:
                  type: integer
              required:
                - chat_id
                - message_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMessages:
    post:
      operationId: deleteMessages
      tags:
        - Updating messages
      description: |-
        Use this method to delete multiple messages simultaneously. If some of the specified messages can't be found, they are skipped. Returns True on success.
        The following methods and objects allow your bot to handle stickers and sticker sets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                message_ids:
                  type: array
                  items:
                      type: integer
              required:
                - chat_id
                - message_ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteMyCommands:
    post:
      operationId: deleteMyCommands
      tags:
        - Available methods
      description: |-
        Use this method to delete the list of the bot's commands for the given scope and user language. After deletion, higher level commands will be shown to affected users. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                language_code:
                  type: string
                scope:
                  $ref: '#/components/schemas/BotCommandScope'
              required:
                - language_code
                - scope
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteStickerFromSet:
    post:
      operationId: deleteStickerFromSet
      tags:
        - Stickers
      description: |-
        Use this method to delete a sticker from a set created by the bot. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sticker:
                  type: string
              required:
                - sticker
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteStickerSet:
    post:
      operationId: deleteStickerSet
      tags:
        - Stickers
      description: |-
        Use this method to delete a sticker set that was created by the bot. Returns True on success.
        The following methods and objects allow your bot to work in inline mode.Please see our Introduction to Inline bots for more details.
        To enable this option, send the /setinline command to @BotFather and provide the placeholder text that the user will see in the input field after typing your bot's name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteStory:
    post:
      operationId: deleteStory
      tags:
        - Available methods
      description: |-
        Deletes a story previously posted by the bot on behalf of a managed business account. Requires the can_manage_stories business bot right. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                story_id:
                  type: integer
              required:
                - business_connection_id
                - story_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /deleteWebhook:
    post:
      operationId: deleteWebhook
      tags:
        - Getting updates
      description: |-
        Use this method to remove webhook integration if you decide to switch back to getUpdates. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                drop_pending_updates:
                  type: boolean
              required:
                - drop_pending_updates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editChatInviteLink:
    post:
      operationId: editChatInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to edit a non-primary invite link created by the bot. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the edited invite link as a ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                creates_join_request:
                  type: boolean
                expire_date:
                  type: integer
                invite_link:
                  type: string
                member_limit:
                  type: integer
                name:
                  type: string
              required:
                - chat_id
                - creates_join_request
                - expire_date
                - invite_link
                - member_limit
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editChatSubscriptionInviteLink:
    post:
      operationId: editChatSubscriptionInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to edit a subscription invite link created by the bot. The bot must have the can_invite_users administrator rights. Returns the edited invite link as a ChatInviteLink object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                invite_link:
                  type: string
                name:
                  type: string
              required:
                - chat_id
                - invite_link
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/ChatInviteLink'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editForumTopic:
    post:
      operationId: editForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to edit name and icon of a topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights, unless it is the creator of the topic. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                icon_custom_emoji_id:
                  type: string
                message_thread_id:
                  type: integer
                name:
                  type: string
              required:
                - chat_id
                - icon_custom_emoji_id
                - message_thread_id
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editGeneralForumTopic:
    post:
      operationId: editGeneralForumTopic
      tags:
        - Available methods
      description: |-
        Use this method to edit the name of the 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the can_manage_topics administrator rights. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                name:
                  type: string
              required:
                - chat_id
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editMessageCaption:
    post:
      operationId: editMessageCaption
      tags:
        - Updating messages
      description: |-
        Use this method to edit captions of messages. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned. Note that business messages that were not sent by the bot and do not contain an inline keyboard can only be edited within 48 hours from the time they were sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                caption:
                  type: string
                caption_entities:
                  type: array
                  items:
                      $ref: '#/components/schemas/MessageEntity'
                chat_id:
                  type: integer
                inline_message_id:
                  type: string
                message_id:
                  type: integer
                parse_mode:
                  type: string
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                show_caption_above_media:
                  type: boolean
              required:
                - business_connection_id
                - caption
                - caption_entities
                - chat_id
                - inline_message_id
                - message_id
                - parse_mode
                - reply_markup
                - show_caption_above_media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        anyOf:
                            - $ref: '#/components/schemas/Message'
                            - type: boolean
                              default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editMessageChecklist:
    post:
      operationId: editMessageChecklist
      tags:
        - Updating messages
      description: |-
        Use this method to edit a checklist on behalf of a connected business account. On success, the edited Message is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                chat_id:
                  type: integer
                checklist:
                  $ref: '#/components/schemas/InputChecklist'
                message_id:
                  type: integer
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - business_connection_id
                - chat_id
                - checklist
                - message_id
                - reply_markup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Message'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editMessageLiveLocation:
    post:
      operationId: editMessageLiveLocation
      tags:
        - Updating messages
      description: |-
        Use this method to edit live location messages. A location can be edited until its live_period expires or editing is explicitly disabled by a call to stopMessageLiveLocation. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                chat_id:
                  type: integer
                heading:
                  type: integer
                horizontal_accuracy:
                  type: number
                inline_message_id:
                  type: string
                latitude:
                  type: number
                live_period:
                  type: integer
                longitude:
                  type: number
                message_id:
                  type: integer
                proximity_alert_radius:
                  type: integer
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - business_connection_id
                - chat_id
                - heading
                - horizontal_accuracy
                - inline_message_id
                - latitude
                - live_period
                - longitude
                - message_id
                - proximity_alert_radius
                - reply_markup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        anyOf:
                            - $ref: '#/components/schemas/Message'
                            - type: boolean
                              default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editMessageMedia:
    post:
      operationId: editMessageMedia
      tags:
        - Updating messages
      description: |-
        Use this method to edit animation, audio, document, photo, or video messages, or to add media to text messages. If a message is part of a message album, then it can be edited only to an audio for audio albums, only to a document for document albums and to a photo or a video otherwise. When an inline message is edited, a new file can't be uploaded; use a previously uploaded file via its file_id or specify a URL. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned. Note that business messages that were not sent by the bot and do not contain an inline keyboard can only be edited within 48 hours from the time they were sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                chat_id:
                  type: integer
                inline_message_id:
                  type: string
                media:
                  $ref: '#/components/schemas/InputMedia'
                message_id:
                  type: integer
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - business_connection_id
                - chat_id
                - inline_message_id
                - media
                - message_id
                - reply_markup
          multipart/form-data:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                chat_id:
                  type: integer
                inline_message_id:
                  type: string
                media:
                  $ref: '#/components/schemas/InputMedia'
                message_id:
                  type: integer
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - business_connection_id
                - chat_id
                - inline_message_id
                - media
                - message_id
                - reply_markup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        anyOf:
                            - $ref: '#/components/schemas/Message'
                            - type: boolean
                              default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editMessageReplyMarkup:
    post:
      operationId: editMessageReplyMarkup
      tags:
        - Updating messages
      description: |-
        Use this method to edit only the reply markup of messages. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned. Note that business messages that were not sent by the bot and do not contain an inline keyboard can only be edited within 48 hours from the time they were sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                chat_id:
                  type: integer
                inline_message_id:
                  type: string
                message_id:
                  type: integer
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
              required:
                - business_connection_id
                - chat_id
                - inline_message_id
                - message_id
                - reply_markup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        anyOf:
                            - $ref: '#/components/schemas/Message'
                            - type: boolean
                              default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editMessageText:
    post:
      operationId: editMessageText
      tags:
        - Updating messages
      description: |-
        Use this method to edit text and game messages. On success, if the edited message is not an inline message, the edited Message is returned, otherwise True is returned. Note that business messages that were not sent by the bot and do not contain an inline keyboard can only be edited within 48 hours from the time they were sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                chat_id:
                  type: integer
                entities:
                  type: array
                  items:
                      $ref: '#/components/schemas/MessageEntity'
                inline_message_id:
                  type: string
                link_preview_options:
                  $ref: '#/components/schemas/LinkPreviewOptions'
                message_id:
                  type: integer
                parse_mode:
                  type: string
                reply_markup:
                  $ref: '#/components/schemas/InlineKeyboardMarkup'
                text:
                  type: string
              required:
                - business_connection_id
                - chat_id
                - entities
                - inline_message_id
                - link_preview_options
                - message_id
                - parse_mode
                - reply_markup
                - text
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        anyOf:
                            - $ref: '#/components/schemas/Message'
                            - type: boolean
                              default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editStory:
    post:
      operationId: editStory
      tags:
        - Available methods
      description: |-
        Edits a story previously posted by the bot on behalf of a managed business account. Requires the can_manage_stories business bot right. Returns Story on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                areas:
                  type: array
                  items:
                      $ref: '#/components/schemas/StoryArea'
                business_connection_id:
                  type: string
                caption:
                  type: string
                caption_entities:
                  type: array
                  items:
                      $ref: '#/components/schemas/MessageEntity'
                content:
                  $ref: '#/components/schemas/InputStoryContent'
                parse_mode:
                  type: string
                story_id:
                  type: integer
              required:
                - areas
                - business_connection_id
                - caption
                - caption_entities
                - content
                - parse_mode
                - story_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Story'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /editUserStarSubscription:
    post:
      operationId: editUserStarSubscription
      tags:
        - Payments
      description: |-
        Allows the bot to cancel or re-enable extension of a subscription paid in Telegram Stars. Returns True on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_canceled:
                  type: boolean
                telegram_payment_charge_id:
                  type: string
                user_id:
                  type: integer
              required:
                - is_canceled
                - telegram_payment_charge_id
                - user_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: boolean
                        default: true
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /exportChatInviteLink:
    post:
      operationId: exportChatInviteLink
      tags:
        - Available methods
      description: |-
        Use this method to generate a new primary invite link for a chat; any previously generated primary link is revoked. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns the new invite link as String on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: string
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /forwardMessage:
    post:
      operationId: forwardMessage
      tags:
        - Available methods
      description: |-
        Use this method to forward messages of any kind. Service messages and messages with protected content can't be forwarded. On success, the sent Message is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                direct_messages_topic_id:
                  type: integer
                disable_notification:
                  type: boolean
                from_chat_id:
                  anyOf:
                      - type: integer
                      - type: string
                message_id:
                  type: integer
                message_thread_id:
                  type: integer
                protect_content:
                  type: boolean
                suggested_post_parameters:
                  $ref: '#/components/schemas/SuggestedPostParameters'
                video_start_timestamp:
                  type: integer
              required:
                - chat_id
                - direct_messages_topic_id
                - disable_notification
                - from_chat_id
                - message_id
                - message_thread_id
                - protect_content
                - suggested_post_parameters
                - video_start_timestamp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Message'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /forwardMessages:
    post:
      operationId: forwardMessages
      tags:
        - Available methods
      description: |-
        Use this method to forward multiple messages of any kind. If some of the specified messages can't be found or forwarded, they are skipped. Service messages and messages with protected content can't be forwarded. Album grouping is kept for forwarded messages. On success, an array of MessageId of the sent messages is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
                direct_messages_topic_id:
                  type: integer
                disable_notification:
                  type: boolean
                from_chat_id:
                  anyOf:
                      - type: integer
                      - type: string
                message_ids:
                  type: array
                  items:
                      type: integer
                message_thread_id:
                  type: integer
                protect_content:
                  type: boolean
              required:
                - chat_id
                - direct_messages_topic_id
                - disable_notification
                - from_chat_id
                - message_ids
                - message_thread_id
                - protect_content
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                            $ref: '#/components/schemas/MessageId'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /getAvailableGifts:
    post:
      operationId: getAvailableGifts
      tags:
        - Available methods
      description: |-
        Returns the list of gifts that can be sent by the bot to users and channel chats. Requires no parameters. Returns a Gifts object.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/Gifts'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /getBusinessAccountGifts:
    post:
      operationId: getBusinessAccountGifts
      tags:
        - Available methods
      description: |-
        Returns the gifts received and owned by a managed business account. Requires the can_view_gifts_and_stars business bot right. Returns OwnedGifts on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
                exclude_limited:
                  type: boolean
                exclude_saved:
                  type: boolean
                exclude_unique:
                  type: boolean
                exclude_unlimited:
                  type: boolean
                exclude_unsaved:
                  type: boolean
                limit:
                  type: integer
                offset:
                  type: string
                sort_by_price:
                  type: boolean
              required:
                - business_connection_id
                - exclude_limited
                - exclude_saved
                - exclude_unique
                - exclude_unlimited
                - exclude_unsaved
                - limit
                - offset
                - sort_by_price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/OwnedGifts'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /getBusinessAccountStarBalance:
    post:
      operationId: getBusinessAccountStarBalance
      tags:
        - Available methods
      description: |-
        Returns the amount of Telegram Stars owned by a managed business account. Requires the can_view_gifts_and_stars business bot right. Returns StarAmount on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
              required:
                - business_connection_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/StarAmount'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /getBusinessConnection:
    post:
      operationId: getBusinessConnection
      tags:
        - Available methods
      description: |-
        Use this method to get information about the connection of the bot with a business account. Returns a BusinessConnection object on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_connection_id:
                  type: string
              required:
                - business_connection_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
                        $ref: '#/components/schemas/BusinessConnection'
                    required:
                      - result
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /getChat:
    post:
      operationId: getChat
      tags:
        - Available methods
      description: |-
        Use this method to get up-to-date information about the chat. Returns a ChatFullInfo object on success.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chat_id:
                  type: integer
              required:
                - chat_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/OkResponse'
                  - type: object
                    properties:
                      result:
[...]
